#website_header {
    background-color: rgb(250, 250, 250);
    font-family: Arial, Helvetica, sans-serif;
    top: 0; 
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    font-weight: bold;
    text-transform: uppercase;
}

#Heading_Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    height: 50px;
    float: left;
}
  
#Site_Nav ul {
    padding: 0px;
    list-style-type: none;
    float: right;
    box-sizing: content-box;
    color: #404040;
} 

#Site_Nav li {
    float: left;    
    display:block;
    margin: auto;
    line-height: 50px;
    color: #404040;
}

#Site_Nav li a {
    display: block;
    text-align: center;
    padding: 0px 25px 0px 25px;
    color: #404040;
    font-size: 1em;
    margin: auto;
}

a {
    text-decoration: none;
    color: #404040;
}

nav li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .35s;
}

nav.Site_Nav ul li a {
  position: relative;
}
nav.Site_Nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: linear-gradient(130deg, rgba(119,244,144,1) 0%, rgba(130,233,151,1) 35%, rgba(183,246,196,1) 100%); ;
  height: 5px;
}

nav.Site_Nav ul li a:hover:after {
  width: 100%;
}

@media screen and (max-width: 380px) {
    #Site_Nav li {
	float: none;
    }
    #Site_Nav ul {
	width: 100%;
    }
    #Website_Title{
        float: left;
    }
}
