body {
    background-color: rgb(250, 250, 250);
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0 5% 0 5%;
}

#about_sec {
    margin: auto;
    padding: 75px;
    margin-bottom: 20px;
    background: linear-gradient(130deg, rgba(119,244,144,1) 0%, rgba(130,233,151,1) 35%, rgba(183,246,196,1) 100%); 
    text-align: center;
    display:block;
    color: rgb(250, 250, 250);
}

#about_sec > p {
  max-width: 500px;
  overflow: auto;
  margin: auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#search_bar {
    border: solid 3px #77F490;
    border-radius: 8px;
    color: #3366aa;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 8px 10px 8px;
    margin-bottom: 20px;
}

#checkboxes {
    padding: 8px;
    margin-bottom: 20px;
}

.submit_btn {
    background-color: #77F490;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 10px 25px 10px 25px;
}

.submit_btn:hover {
    background-color: green;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #404040;
    margin: 0px;
    margin-top: 8px;
    padding: 0px;
}

hr {
    background-color: #404040;
    border-style: none;
    width: 50px;
    height: 5px;
    margin-bottom: 8px;
  }

.vertical_product_container{
    text-align: center;
    border: 1px solid #77F490;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li h3 {
    font-size: 1em;
}

@media screen and (max-width: 380px) {
    #about_sec {
        margin: 250px auto 2% auto;
    }
}

.search_page {
    display: flex;
}

.sidebar {
    background-color: white;
    border: solid 4px #77F490;
    border-radius: 8px;
    padding: 14px;
    position: sticky;
    height: 30%;
    top: 70px;
}

#product_filter{
    align-items: center;
}

#purchase_form {
    box-sizing: border-box;
}

#purchase_form > input {
    padding: 5px;
    margin-bottom: 5px;
    width: 20%;
}

#datelbl {
  font-size: 12px;
  color: #43474d;
}

#card_details > input {
    width: max-content;
    padding: 5px;
    margin-bottom: 5px;
}

.content {
    flex-grow: 1;
    overflow: auto;
    margin-left: 50px;
}

.card_grid {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0px 20px 0px;
}

.card_grid > a {
    object-fit: cover;
    flex: 1 0 auto;
    flex-basis: 20%;
    overflow: auto;
    height: auto;
}

.card_grid > a:after{
    content:'';
    float: left;
    padding-top: 100%;
  }

.card_sub{
    margin-block: 2px;
    margin-left: 5px;
    text-align: center;
}

.hidden {
    display: none;
}

.product-page-container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
  
  .product-image {
    width: 65%;
    position: relative;
  }
  
  .product-right-column {
    width: 35%;
    margin-top: 60px;
  }
  
  .product-image img {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all 0.3s ease;
  }
  
  .product-description {
    border-bottom: 1px solid #e1e8ee;
    margin-bottom: 20px;
  }
  
  .product-description span {
    font-size: 12px;
    color: #358ed7;
  }
  
  .product-description h1 {
    font-weight: 400;
    font-size: 52px;
    color: #43484d;
    margin-top: 0;
  }
  
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
  }
  
  .product-price {
    align-items: left;
  }
  
  .product-price > form > a {
    font-size: 26px;
    font-weight: 300;
    color: #43474d;
    margin-right: 20px;
  }

  .product-price > form > p {
    font-size: 20px;
    font-weight: 500;
  }
  
  #add_btn {
    background-color: #77f490;
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
  }

  #confirm_text {
    font-size: 20px;
    margin-top: 15%;
  }

  table{
    border-collapse: collapse;
  }
  td{
    padding: 12px 15px;
  }
  tr {
    border-bottom: 1px solid #dddddd;
  }
    tr:nth-child(even) {background-color: #f2f2f2;}
    tr:last-of-type {
      border-bottom: 2px solid #77F490;
  }
    th {
      background-color: #77F490;
      color: black;
      padding: 12px 15px;
    }
    tr:hover {background-color: #01e0b4;}