body {
    background-color: rgb(250, 250, 250);
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0 5% 0 5%;
}

#about_sec {
    margin: auto;
    padding: 75px;
    margin-bottom: 2%;
    background: rgb(119,244,144);
    background: linear-gradient(130deg, rgba(119,244,144,1) 0%, rgba(130,233,151,1) 35%, rgba(183,246,196,1) 100%); 
    text-align: center;
    display:block;
    color: rgb(250, 250, 250);
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#search_bar {
    border: solid 3px #77F490;
    border-radius: 8px;
    color: #3366aa;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 8px 10px 8px;
    margin-bottom: 20px;
}

#checkboxes {
    padding: 8px;
    margin-bottom: 20px;
}

#submit_btn {
    background-color: #77F490;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 5px 25px 5px 25px;
}

#submit_btn:hover {
    background-color: green;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #404040;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
}

hr {
    background-color: #404040;
    border-style: none;
    width: 50px;
    height: 5px;
    margin-bottom: 30px;
  }

.vertical_product_container{
    text-align: center;
    border: 1px solid #77F490;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li h3 {
    font-size: 1em;
}

@media screen and (max-width: 380px) {
    #about_sec {
        margin: 250px auto 2% auto;
    }
}

.search_page {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: white;
    border: solid 4px #77F490;
    border-radius: 8px;
    padding: 14px;
    position: fixed;
}

#product_filter{
    align-items: center;
}

.content {
    flex-grow: 1;
    overflow: auto;
    height: 200000px;
}

.card_grid {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: #77F490;
    flex: 1 0 auto;
    height: auto;
}

.card:after{
    content:'';
    float: left;
    padding-top: 100%;
  }

.card_sub{
    margin-block: 2px;
    margin-left: 5px;
    text-align: center;
}

.hidden {
    display: none;
}

.product-page-container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
  
  .product-image {
    width: 65%;
    position: relative;
  }
  
  .product-right-column {
    width: 35%;
    margin-top: 60px;
  }
  
  .product-image img {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all 0.3s ease;
  }
  
  .product-description {
    border-bottom: 1px solid #e1e8ee;
    margin-bottom: 20px;
  }
  
  .product-description span {
    font-size: 12px;
    color: #358ed7;
  }
  
  .product-description h1 {
    font-weight: 400;
    font-size: 52px;
    color: #43484d;
    margin-top: 0;
  }
  
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
  }
  
  .product-price {
    display: flex;
    align-items: center;
  }
  
  .product-price > form > span {
    font-size: 26px;
    font-weight: 300;
    color: #43474d;
    margin-right: 20px;
  }
  