#website_header {
    background-color: white;
    top: 0; 
    width: 100%;
    position: sticky;
    margin-bottom: 10px;
    border-bottom: solid 1px #78F5D1;
}

#Website_Title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    float: center;
    padding: auto;
    height: 50px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    display:block;
    color: black;
}


#Heading_Logo{
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    box-sizing: border-box;
}
  
#Site_Nav ul {
    padding: 0px;
    min-width: fit-content;
    list-style-type: none;
    float: right;
    box-sizing: content-box;
} 

#Site_Nav li{
    float: left;    
    display:block;
    margin: auto;
}

#Site_Nav li a {
    display: block;
    text-align: center;
    padding: 5px;
    color: black;
    font-size: 1.2em;
    margin: auto;
}

a {
    text-decoration: none;
}

#Site_Nav li a:hover {
    background-color: #77F490;
}

@media screen and (max-width: 380px) {
    #Site_Nav li {
	float: none;
    }
    #Site_Nav ul {
	width: 100%;
    }
    #Website_Title{
        float: left;
    }
}